h1= title
p Welcome to #{title}

each post in posts
  article
    .btn-group
        button.actions.btn.dropdown-toggle(data-toggle="dropdown")
          i.icon-cog
        ul.dropdown-menu
          li
            a(href="/post/edit/#{post._id}")
              i.icon-pencil
              |  Edit
          li
            a.remove-post(data-m-id="#{post._id}")
              i.icon-trash 
              |  Delete
          li
            a.switch-pub-post(data-m-id="#{post._id}")
              i.icon-ban-circle
              |  Unpublish
    h2 #{post.title}
    small (#{post.ts})
    blockquote !{post.body}
