.admin.navbar.navbar-fixed-top
  !=partial('top_menu')

.container
  .row
    .well.span12
      h2="Articles"
      form(action="/articles/remove", method="post")
        em
          a(href="/articles/new") Create
        table.table.table-striped
          thead
            tr
              th
                .input
                  input(type='checkbox')
              th='Title'
              th='Date'
              th
                i.icon-comment
          tbody
            each art in articles
              tr
                td
                  .input
                    input(type='checkbox', name="ids", value="#{art._id}")
                td
                  a(href="/articles/edit/#{art._id}")
                    | #{art.title}
                td #{art.ts}
                td
                  span.badge.badge-inverse 10

        input.btn(href="/articles/delete", type="submit", value="Remove Selected") Remove Selected
