.row
  .span4.offset4
    - if (actions.error)
      .alert.alert-error
        button.close(data-dismiss="alert") ×
        strong Ooops! 
        #{actions.error}
    - if (actions.hint)
      .alert.alert-info
        button.close(data-dismiss="alert") ×
        #{actions.hint}
    - if (actions.warn)
      .alert.alert-warn
        button.close(data-dismiss="alert") ×
        #{actions.warn}

    form(method="post", action="/login")
      fieldset
        legend="Login"
        .clearfix
          label(for="username") Username
          .input
            input#username.input(type="text", name="post[username]")
            p.help-block="(root)"
        .clearfix
          label(for="password") Password
          .input
            input#password.input(type="password", name="post[password]")
            p.help-block="(blank for now)"
        .form-actions
          input.btn.btn-primary(type="submit", value="Login")
          a.btn(href="/") Cancel
